.articles {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 10px;
}

.articles__normal {
  width: fit-content;
  flex: 1;
  border-right: 1px rgb(232, 231, 231) solid;
}

.sideArticles {
  border-top: 1px solid #000;
}

.side__desc {
  max-width: 300px;
}

.side__article a h2 {
  font-weight: 700;
  font-size: 16px;
}

.articles p {
  color: #5a6275;
}

.side__article {
  padding: 16px 0 16px 16px;
}

.article {
  border-top: 1px solid #000;
  padding: 16px 16px 16px 0;
}

.article > a {
  gap: 10px;
}

.article a > img {
  max-width: 500px;
  min-height: 270px;
  object-fit: cover;
}

.article > a,
.side__article > a {
  text-decoration: none;
  color: #000;
}

.article__desc {
  max-width: 400px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .sideArticles {
    display: none;
  }
}